html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

.bg {
    min-height: 5000px;
    transform-style: preserve-3d;
background-image: url(img/home/bgjp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    transform: translateY(3px);
}

.espaco {
    
    height: 960px;
}

@font-face {
  font-family: "Summer Heart";
  src: url("font/SummerHearts-Regular.otf");
} 

.navegador {
    position: absolute;
    width: 100%;
    
}

.menu .nav-item{
    
}
.titulo { 
    font-family:"Summer Heart";
    font-size: 160%;
    
}



/* Grid */
.imagens {
    top: 140px; 
    left: 0;
    right: 0;
    position: absolute;
    transform-style: preserve-3d;
}

.col-sm {
    padding: 10px;
}

.item11 {
   transform: translateZ(1px)
              scale(0.7);
}

.item12 {
   transform: translateZ(1px)
              scale(0.7); 
}

.item13 {
   transform: translateZ(1px)
              scale(0.7);; 
}

.item21 {
    transform: translateZ(1px)
               scale(0.7);
}

.item22 {
   transform: translateZ(1px)
               scale(0.7);
}

.item23 {
   transform: translateZ(1px)
              scale(0.7);
}

.l2 {
    margin-top: 60px;
}

.desc {
    font-size: 1.3vw;
    position: relative;
    top:30%;
}

.meio {
    margin: auto 50px;
}

/* Overlay */

.ovl {
    opacity: 0;
    border-radius: 50%;
    transition: 0.9s ease;
}

.ovl:hover {
    opacity: 1;
    background: rgb(135,206,235, 0.75); /* O "0.75" significa a opacidade da cor do Overlay. */             
}

/* Sobre Nós */

.depoimentos {
    transform-style: preserve-3d;
    position: absolute;
    top: 28%;
    width: 100%;
}

.sobre-nos {
    border-radius: 5%;
    background-color: black;
    padding: 30px;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-49%)
        translateY(-28%)
        translateZ(4px)
        scale(0.3); 
}
.texto {
    font-size: 1.4vw;
    text-align: center;
    color: white;
}

.sobreimg1 {
    position: absolute;
    width: 15%; 
    transform: translateX(100%)
               translateY(50%)
               translateZ(1px)
               scale(1); 
}

.sobreimg2 {
    position: absolute;
    width: 15%;
    right: 0;
    transform: translateX(-100%)
               translateY(50%)
               translateZ(1px)
               scale(1);
}

/* Galeria */

.galeria {
    position: absolute;
    top: 50%;
    left:0;
    transform: translateX(50%)
                translateZ(1px)
                scale(1);
}

.galeria {
    width: 50%;
    transform: translateY(300%)
                translateX(50%)
                translateZ(1px);

}

.galeria2 {
    width: 50%;
    transform: translateY(320%)
                translateX(50%)
                translateZ(1px)
                scale(1);

}

.galeria3 {
    width: 50%;
    transform: translateY(340%)
                translateX(50%)
                translateZ(1px)
                scale(1);

}





/* Responsividade */
    
@media only screen and (max-width: 575px) {
 /* Grid */
.imagens {
    margin:
    left: 0;
    right: 0;
    position: absolute;
    transform-style: preserve-3d;
}

.item11 {
   transform: translateZ(1px)
              translateY(-10%)
              scale(0.5);
}

.item12 {
   transform: translateZ(1px)
       translateY(-50%)
              scale(0.5); 
}

.item13 {
   transform: translateZ(1px)
              translateY(-91%)
              scale(0.5);; 
}

.item21 {
    transform: translateZ(1px)
               translateY(-147%)
               scale(0.5);
}

.item22 {
   transform: translateZ(1px)
              translateY(-190%)
              scale(0.5);
}

.item23 {
   transform: translateZ(1px)
              translateY(-230%)
              scale(0.5);
}

.desc {
    font-size: 1.3vw;
    position: relative;
    top:30%;
}

.meio {
    margin: auto 50px;
}

    /* Tamanho da fonte Overlay */
    
    .desc {
        font-size: 2rem;
    }

    /* Sobre Nós */

.depoimentos {
    transform-style: preserve-3d;
    position: absolute;
    margin-top: 250%;
    width: 100%;
}

.sobre-nos {
    border-radius: 5%;
    background-color: black;
    padding: 30px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
        translateY(-28%)
        translateZ(2.5px)
        scale(0.6); 
}

.texto {
    font-size: 0.7rem;
    text-align: center;
    color: white;
}

.sobreimg1 {
    position: absolute;
    width: 50%; 
    transform: translateX(50%)
               translateY(-120%)
               translateZ(2.5px)
               scale(0.6); 
}

.sobreimg2 {
    position: absolute;
    width: 50%;
    right: 0;
    transform: translateX(-50%)
               translateY(14rem)
               translateZ(2.5px)
               scale(0.6);
}
    
    /* Galeria */

.galeria {
    position: absolute;
    top: 100%;
    left:0;
    transform: translateX(50%)
                translateZ(1px)
                scale(1);
}

.galeria {
    width: 50%;
    transform: translateY(1400%)
                translateX(50%)
                translateZ(1px);

}

.galeria2 {
    width: 50%;
    transform: translateY(1500%)
                translateX(50%)
                translateZ(1px)
                scale(1);

}

.galeria3 {
    width: 50%;
    transform: translateY(1600%)
                translateX(50%)
                translateZ(1px)
                scale(1);

}

}
    




