html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

.bg {
    min-height: 3000px;
    transform-style: preserve-3d;
background-image: url(img/home/bgjp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    transform: translateY(3px);
}

.espaco {
    
    height: 960px;
}

@font-face {
  font-family: "Summer Heart";
  src: url("font/SummerHearts-Regular.otf");
} 

.navegador {
    position: absolute;
    width: 100%;
    
}

.menu .nav-item{
    
}
.titulo { 
    font-family:"Summer Heart";
    font-size: 160%;
    
}



/* Grid */
.imagens {
    top: 140px; 
    left: 0;
    right: 0;
    position: absolute;
    transform-style: preserve-3d;
}

.col-sm {
    padding: 10px;
}

.item11 {
   transform: translateZ(1px)
              scale(0.7);
}

.item12 {
   transform: translateZ(1px)
              scale(0.7); 
}

.item13 {
   transform: translateZ(1px)
              scale(0.7);; 
}

.item21 {
    transform: translateZ(1px)
               scale(0.7);
}

.item22 {
   transform: translateZ(1px)
               scale(0.7);
}

.item23 {
   transform: translateZ(1px)
              scale(0.7);
}

.l2 {
    margin-top: 60px
}

.desc {
    font-size: 1.3vw;
    position: relative;
    top:30%;
}

.meio {
    margin: auto 50px;
}

/* Overlay */

.ovl {
    opacity: 0;
    border-radius: 50%;
    transition: 0.9s ease;
}

.ovl:hover {
    opacity: 1;
    background: rgb(135,206,235, 0.75); /* O "0.75" significa a opacidade da cor do Overlay. */             
}

.depoimentos {
    transform-style: preserve-3d;
    position: absolute;
    top: 35%;
    width: 100%;
}

.sobre-nos {
    border-radius: 5%;
    background-color: black;
    padding: 30px;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)
        translateY(-28%)
        translateZ(4px)
        scale(0.3); 
}

.texto {
    font-size: 1.4vw;
    text-align: center;
    color: white;
}

.sobreimg1 {
    position: absolute;
    width: 15%; 
    transform: translateX(100%)
               translateY(50%)
               translateZ(1px)
               scale(1); 
}

.sobreimg2 {
    position: absolute;
    width: 15%;
    right: 0;
    transform: translateX(-100%)
               translateY(50%)
               translateZ(1px)
               scale(1);
}

